
*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-size: larger;
    background-image:url(blurspot.png) ;
    background-repeat: no-repeat, no-repeat;
    background-size:100% 100%;
}
.maincontainer{
    margin-top: 3%;
    display: flex;
    flex-direction:column ;
    align-items: center;
    margin-right: 10%; 
    margin-left: 25%;
    background-color:#fdfdfd;
    border-radius: 20px;
	width:50%;
}

.hero{
    background-color:#fdfdfd;
    font-family:serif; 
    color:rgb(44, 41, 44);
    border-radius: 5px;
}
legend{
    /* transform: translateY(-2em); */
    background-color: #fdfdfd;
    padding-left:7px;
    padding-right:7px;
    font-family:Tahoma;
    font-size: 1.5em;
	
}

.row {
    display: flex;
    gap:1em;
    width:100%;
    flex-direction: row;
    margin-top: 0.1rem ;
    margin-bottom: 1.5% ;
    border-radius: 5px;
    padding: 2px;
    align-items:center;
  }


  .prsnlinfo , .bookinfo, .fieldsetsectn{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-content: center;
    width:95%;
    background-color: #fdfdfd; 
    border-radius: 1em;
    border: 0;
    font-family: arial;
    font-size: 1em;
  }
  .fieldsetsectn{
    margin-top: -2.5%;
  }
.prsnlinfo {
    display:flex;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    margin: 25px;
    box-shadow: 0 2px 5px rgba(118, 118, 118, 0.5);
}
.bookinfo{
    display:flex;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    margin: 25px;
    box-shadow: 0 2px 5px rgba(118, 118, 118, 0.5);
}

label{
    width:15%;
    font-size: 0.9em;
}
input{
    display: flex;
    flex-direction:column ;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30px;
    border-radius: 3px;
    border-width:0.1em;
    border-color: #e0aaff;
    background-color: white;
    font-family:'';
    font-size: 1em;
}


select {
    width: 50%;
    font-size: 1.15rem;
    padding: 0.3em 0.8em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-color: #e0aaff;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}
.publicationdate{
    width:50%
}


.inputbox {
    position:relative;
    width:29%;
}

.inputbox span{
    transform: translateY(-100%);
    position:absolute;
    left:0;
    padding:0.5em;
    padding-left: 0.9em;
    padding-top:1em;
    pointer-events:none;
    font-size: 0.5em;
    color:rgb(186, 186, 186);
    text-transform: uppercase;
    transition: 0.2s ease-in-out ;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span{
    color: #5a189a;
    transform: translateY(-3.8em) translateX(1em);
    font-size: 0.5em;
    padding: 0 10px;
    background-color: rgb(255, 255, 255);
    letter-spacing: 0.15em;
    font-family: serif;
}
.submit-button {
    background-color: rgb(150, 76, 199);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-style: none;
    margin: 2%;
    transition:0.3s ;

  }
  .submit-button:hover {
    background-color: rgb(172, 112, 212);
    transform: scale(1.1);
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.5); 
    color: black;
    transition:0.3s ;
  }
  .radio-options {
    display: inline-flex;
    align-items: center;
}

.radio-options input[type="radio"] {
    margin-right: 10px;
}
.radio-options label {
    margin-right: 10px; 
}
.row1{
   margin-left:50px;
   }
.inputbox {
        margin: 15px 0;
        padding: 0; 
    }
    .inputbox input {
        box-shadow: none; 
    }
 .row1 {
        margin-left: 0; 
    }

    @media only screen and (max-width: 768px) {
        .maincontainer {
            margin-left: 5%; 
            margin-right: 5%;
        }

        .inputbox {
            margin: 10px 0; 
        }
    }

    @media only screen and (max-width: 576px) {
        .maincontainer {
            width: 90%;
            margin-left: 5%; 
            margin-right: 5%;
        }

        .inputbox {
            margin: 5px 0; 
        }

        label,
        input,
        select {
            font-size: 0.8em;
        }

        .section {
            transform: none; 
        }

        .fieldsetsectn .row {
            flex-wrap: wrap; 
        }

        .fieldsetsectn .row > * {
            width: 100%; 
        }
    }
